// Variables

$numCol: 4 !default;
$gutterWidth: 1em !default;

// Mixins

@mixin mquery($size) {
  @if $size == large {
    @media (min-width: 75em) { @content; }
  }
  @else if $size == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $size == small {
    @media (min-width: 20em)  { @content; }
  }
}

@mixin grid($col, $lastChild: false) {
  $colWidth: percentage($col / $numCol);
  @if $lastChild {
    width: $colWidth;
    margin-right: 0;
  }
  @else {
    width: calc(#{$colWidth} - #{$gutterWidth});
    margin-right: $gutterWidth;    
  }
  display: inline-block;
}

// Silent Classes

%fillParent {
  width: 100%;
}